html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #F5F5F5;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.skewed_bg:before,
.skewed_bg:after {
    content: "";
    position: absolute;
    display: block;
    padding: 20vw 0;
    -webkit-transform: skew(0deg, -45deg);
    transform: skew(0deg, -45deg);
    width: 100vw;
    z-index: -1;
}

.skewed_bg:before {
    background: #CFCECE;
    margin-top: -60vh;
}

.skewed_bg:after {
    background: #FEFFB6;
    margin-top: -210vh;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: normal;
}

.wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    margin-top: 10vh;
    position: relative;
}

.slider-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    height: auto;
    max-height: 609px;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.slide {
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 30px 30px 50px 30px;
    border-left: 10px solid transparent;
    margin-right: 80px;
    cursor: pointer;
    box-sizing: border-box;
    transition: border-left 1s linear;
}

.slide:nth-child(3) {
    margin-right: 0;
}

.slide:hover,
.slide.active {
    border-left: 10px solid #DB4951;
}


.slide[data-slide-visible="true"] {
    display: block;
}

.slide[data-slide-visible="false"] {
    display: none;
}

.number {
    font-weight: bold;
    font-size: 48px;
    line-height: normal;
    text-align: center;
    border-bottom: 2px solid #DB4951;
    padding-bottom: 10px;
}

.title_wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 20px;
}

.title {
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
}

.content {
    max-height: 286px;
    max-width: 286px;
    overflow: hidden;
}

.controls {
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.arrow-right,
.arrow-left {
    background: #DAE1EC;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 1s linear;
}

.arrow-right:hover,
.arrow-left:hover {
    background: rgb(107, 111, 117);
}


.arrow-left {
    margin-left: -4vw;
}

.arrow-right {
    right: -4vw;
    position: absolute;
}

.arrow-right:after,
.arrow-left:after {
    content: "";
    width: 18px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1506 31.3287C15.0303 32.2238 16.4567 32.2238 17.3364 31.3287C18.2161 30.4337 18.2161 28.9826 17.3364 28.0876L5.44588 16.0132L17.3364 3.93888C17.7611 3.51031 18 2.92691 18 2.31831C18 1.70972 17.7611 1.12632 17.3364 0.697746C16.9151 0.265642 16.3417 0.0225906 15.7435 0.0225906C15.1453 0.0225906 14.5719 0.265642 14.1506 0.697746L0.689674 14.3927C0.264954 14.8213 0.0260544 15.4046 0.0260544 16.0132C0.0260544 16.6218 0.264954 17.2052 0.689674 17.6338L14.1506 31.3287Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
}

.arrow-right:after {
    transform: rotate(-180deg);
}


.iframe-wrapper {
    
}

@media all and (max-width: 1500px) {
    .wrapper {
        margin-right: 20px;
        margin-left: 20px;
    }
}
